{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container">
    <div class="well text-center display-3">Productos</div>
    {% if productos != []: %}
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img style="width: 100%; height:100px ;" class="card-img-top" src="{{producto.pfsabprodimage}}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{producto.pfsabprodnombre}}</h5>
                    <p class="card-text">{{producto.pfsabproddetalle}}</p>
                    <p class="card-text"><b>Precio: </b> {{producto.pfsabprodprecio}} <b>$</b></p>
                    <p class="card-text"><b>stock: </b> {{producto.pfsabprodstock}}</p>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('rcct.onGetControllerClientCarritoList', id=producto.pfsabprodid) }}"
                        class="btn btn-primary">Ver</a>
                    {% else %}
                    <h5>Registrate... Por Fabor</h5>
                    <a href="{{ url_for('loginin.onGetLogin')}}"
                        class="btn btn-danger">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <h2 class="text-center" style="padding: 30px; font-size: 10vw ;">NO EXISTE CATEGORIAS</h2>
    </div>
    {% endif %}
</div>
{% endblock %}