<div class="row">
    <div class="col-8">
        <div class="d-flex align-items-center justify-content-center" style="height: 15vw;">
            <h2 style="font-size: 9vw; font-style: italic;" class="text-center">QUINTI</h2>
        </div>
    </div>
    <div class="col-4">
        <figure class="figure">
            <img style="width: 25vw;" src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1672198021/automatismosbrito/header/lapto_d7vbjx.png"
                alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-center">Automatismos Brito</figcaption>
        </figure>
    </div>
</div>